In [37]:
import pandas as pd 
import matplotlib.pyplot as plt
grads = pd.read_csv("recent_grads.csv")
grads.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [17]:
 # magic command, allowing you to display your plots on a seperate window
%matplotlib

Using matplotlib backend: MacOSX

In [18]:
grads.plot(x="Rank", y=["P25th", "Median", "P75th"])
plt.show()

In [22]:
median = grads["Median"]
median.plot(kind="hist") # y label frequency of its occurence £ x label earnings

In [24]:
# to get the first five values while sorting by median 
# to see the first top 5 earnings and disparity 
top_five = grads.sort_values(by="Median", ascending=False).head()
top_five.plot(x='Major', y="Median", kind="bar", rot = 5, fontsize = 4 )

In [31]:
# how to get the top medians, the lowest being 60000
top_medians = grads[grads["Median"] >= 60000 ].sort_values("Median")
top_medians.plot(x="Major", y=["P25th", "Median", "P75th"], kind="bar", fontsize=4)

In [40]:
# to check for correlation, WE USE A SCATTER PLOT 
grads.plot(x="Median", y="Unemployment_rate", kind="scatter")

NameError: name 'other' is not defined

In [42]:
unemployment = grads["Unemployment_rate"]
median.corr(unemployment)
# obviously from the score obtained, there is a negative relationship

-0.1088332938973364

In [47]:
# to group by Major category using the totals of each members of the category and adding it while sorting by values 
categories = grads.groupby("Major_category")["Total"].sum().sort_values()
categories
#categories.plot(kind="barh", fontsize=4)

Major_category
Interdisciplinary                        12296.0
Agriculture & Natural Resources          75620.0
Law & Public Policy                     179107.0
Physical Sciences                       185479.0
Industrial Arts & Consumer Services     229792.0
Computers & Mathematics                 299008.0
Arts                                    357130.0
Communications & Journalism             392601.0
Biology & Life Science                  453862.0
Health                                  463230.0
Psychology & Social Work                481007.0
Social Science                          529966.0
Engineering                             537583.0
Education                               559129.0
Humanities & Liberal Arts               713468.0
Business                               1302376.0
Name: Total, dtype: float64

In [48]:
# getting categories less than 100000
smaller_cat = categories[categories < 100000]
bigger_cat = categories[categories > 100000]
# we are going to create Others out of the small categories because they are really small 
small_sums = pd.Series(smaller_cat.sum(), index=["Others"])
bigger_cat = bigger_cat.append(small_sums)
bigger_cat

Law & Public Policy                     179107.0
Physical Sciences                       185479.0
Industrial Arts & Consumer Services     229792.0
Computers & Mathematics                 299008.0
Arts                                    357130.0
Communications & Journalism             392601.0
Biology & Life Science                  453862.0
Health                                  463230.0
Psychology & Social Work                481007.0
Social Science                          529966.0
Engineering                             537583.0
Education                               559129.0
Humanities & Liberal Arts               713468.0
Business                               1302376.0
Others                                   87916.0
dtype: float64